<div style="float:left;width:48%">
    <table title="Folder Browser" class="easyui-treegrid" style="width:100%;height:500px" id="filestree"></table>
    <div id="tb">
        <a href="#" class="easyui-linkbutton" iconcls="icon-search" plain="true" onclick="ViewFile()">View</a>
        @if (User.IsInRole("NormalUser")) {         
        <a href="#" class="easyui-linkbutton" iconcls="icon-download" plain="true" onclick="downloadfiles()">Download</a>
        }
        else if (User.IsInRole("Developer"))
        {
            <a href="#" class="easyui-linkbutton" iconcls="icon-dependency" plain="true" onclick="ShowDependency()">Show Dependencies</a>
            
        }
       
    </div>
</div>


<div id="showfiles"style="padding-left:10px;float:left;width:45%">
    <div id="filepanel"  style="float:left;display:block;height:500px">
    </div>  
    <a id="prefile" style="margin-left:45%" href="#"></a>  
    <a id="nextfile" href="#"></a>
    
    
</div>


<div id="dlg" class="easyui-dialog" title="Warning" style="width:300px;height:100px;padding:10px"
     data-options="
                buttons: '#dlg-buttons',
                closed: 'true'
            ">

</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconcls="icon-ok" onclick="Back()">OK</a>
    
</div>

<script type="text/javascript" src="http://www.jeasyui.com/easyui/datagrid-groupview.js"></script>
<div id="dependencywindow" class="easyui-window" title="Dependencies Window" data-options="modal:true,closed:true,iconCls:'icon-dependency'" style="width:600px;height:500px;padding:10px;">
    <div id="tt" class="easyui-tabs" style="width:600px;height:500px;">
        <div title="Show Dependencies" data-options="iconCls:'icon-dependency'">
            <table id="denpendencytable" class="easyui-datagrid" title="File Dependency" style="width:600px;height:500px"></table>
            <div id="denpendencytb">
                <a href="#" class="easyui-linkbutton" id="adddepend"iconcls="icon-add" plain="true" onclick="AddDependency()">Add Dependencies</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-cancel" plain="true" onclick="DeleteDependency()">Delete Dependencies</a>
            </div>
        </div>
    </div>
    </div>

    <script>

    function Back() {
        $('#dlg').dialog('close');

    }


    $(document).on("pageload", function () {
        $('#filepanel').hide();

    });

    $("#filestree").treegrid({
        method: 'get',
        rownumbers: false,
        idField: 'id',
        treeField: 'FileName',
        url: '@Url.Action("Getjson", "NormalUsers")',
        columns: [[
               // {field:"ck",checkbox:true,width:40},
                {
                    title: 'FileName', field: 'FileName', formatter: function (val, row, index) {
                        return "<input id='ck" + row.id + "' TYPE=\"checkbox\"></input>" + row.FileName;
                    }, width: 200
                },
                {
                    title: 'Size', field: 'Size', width: 100, align: 'center',

                },
                { title: 'FullPath', field: 'FullPath', width: 320 },
        ]],
        singleSelect: false,
        toolbar: '#tb',

        onClickRow: function (row) {
            var selectedNode = $(this).treegrid('getSelected');
            if ($('#ck' + row.id).is(":checked") == true)
                $('#ck' + row.id).prop("checked", false);
            else
                $('#ck' + row.id).prop("checked", true);
            if (selectedNode) {
                var childNodes = $("#filestree").treegrid('getChildren', row.id);
                if (childNodes.length > 0) {
                    if ($('#ck' + row.id).is(":checked") == true) {
                        for (i = 0; i < childNodes.length; i++) {
                            $('#ck' + childNodes[i].id).prop("checked", true);
                            $("#filestree").treegrid('select', childNodes[i].id);

                        }
                    }
                    else {
                        for (i = 0; i < childNodes.length; i++) {
                            $('#ck' + childNodes[i].id).prop("checked", false);
                            $("#filestree").treegrid('unselect', childNodes[i].id);
                        }
                    }
                }



            }


        }
    });
    function downloadfiles() {
        var rows = $("#filestree").treegrid("getSelections");
        if (rows.length > 0) {
            var files = [];
            var temprows = [];
            [].push.apply(temprows, rows);
            for (var i = 0; i < temprows.length; i++) {
                if (temprows[i] == null) continue;
                if (temprows[i].Size == "") {
                    temprows[i].FullPath = "[folder]" + temprows[i].FullPath;

                    var children = $("#filestree").treegrid('getChildren', temprows[i].id);
                    for (var j = 0; j < temprows.length; j++) {
                        for (var x = 0; x < children.length; x++) {
                            if (children[x] != null && temprows[j] != null)
                                if (children[x].id == temprows[j].id) {
                                    temprows[j] = null;
                                    break;
                                }
                        }
                    }
                }
                files.push(temprows[i].FullPath);
            }

            var url = '@Url.Action("Download", "NormalUsers")' + "?fullpath=" + files;
            window.location.href = url;
        }
        else {

        }


    }

    function NextFile(i) {
        var rows = $("#filestree").treegrid("getSelections");
        if (i < rows.length - 1) ShowFile(i + 1);
    }
    function PreFile(i) {
        var rows = $("#filestree").treegrid("getSelections");
        if (i > 0) ShowFile(i - 1);
    }
    function ShowFile(i) {
        var rows = $("#filestree").treegrid("getSelections");
        $('#nextfile').linkbutton({
            iconCls: 'icon-redo',
            text: 'Next'
        });
        $('#nextfile').bind('click', function () {
            NextFile(i);
        });
        $('#prefile').linkbutton({
            iconCls: 'icon-undo',
            text: 'Pre'
        });
        $('#prefile').bind('click', function () {
            PreFile(i);
        });
        var fullpath = rows[i].FullPath;
        var filename = fullpath.substr(fullpath.lastIndexOf("\\") + 1);
        if (filename.indexOf(".jpg") != -1 || filename.indexOf(".png") != -1) {
            var filepanel = $('#filepanel');
            filepanel.panel({
                width: 530,
                height: 500,
                title: filename,
                href: null
            });

            var path = fullpath.substr(fullpath.indexOf("~") + 2);
            filepanel.html("<img src='" + path + "' width='100%' height='100%'/>");

        }
        else {
            var url = '@Url.Action("viewFile", "NormalUsers")' + "?fullpath=" + fullpath;
            var filepanel = $('#filepanel');
            filepanel.panel({
                width: 530,
                height: 500,
                title: filename,
                href: url,
            });

        }
    }
    function ViewFile() {

        var rows = $("#filestree").treegrid("getSelections");
        if (rows.length == 0) {
            $('#dlg').dialog('open');
            $('#dlg').html("Please choose at least one file.");
        }

        ShowFile(0);


    }



    function ShowDependency() {
        var rows = $("#filestree").treegrid("getSelections");
        if (rows.length == 0) {
            $('#dlg').dialog('open');
            $('#dlg').html("Please choose at least one file.");
        }
        else {
            var files = "";
            for (var i = 0; i < rows.length; i++) {
                files += rows[i].FullPath + ";";
            }
            $('#denpendencytable').datagrid({
                url: '@Url.Action("ShowDependency","Developers")' + "?filename=" + files,
                columns: [[
                    { field: 'FileName', title: 'FileName', width: 100 },                   
                    { field: 'FullPath', title: 'FullPath', width: 300 },

                ]],
                toolbar: '#denpendencytb',
               
                view: groupview,
                collapsible: true,
                rownumbers: true,
                groupField: 'GroupBound',
                groupFormatter: function (value, rows) {
                    return value;
                }

            });
            $('#dependencywindow').window('open');

        }
    }


    function DeleteDependency() {
        var rows = $('#denpendencytable').datagrid('getSelections');
        if (rows.length == 0) {
            $('#dlg').dialog('open');
            $('#dlg').html("Please choose at least one file.");
            return;
        }
        var Postinfo = "";
        for (var i = 0; i < rows.length; i++) {
            var basicfile = rows[i].GBFullPath;
            var deletefile = rows[i].FullPath;
            Postinfo += basicfile + "::" + deletefile + ";";
        }
        $.ajax({
            url: '@Url.Action("DeleteDependency","Developers")' + "?files=" + Postinfo,

            })
    .done(function (data) {
        if (data == "Success") {
            $.messager.show({
                title: 'Successful',
                msg: 'Delete Denpendencies complete.',
                timeout: 5000,
                showType: 'slide'
            });

            $('#denpendencytable').datagrid('reload');
        }
        else {
            $('#dlg').dialog('open');
            $.messager.show({
                title: 'Error',
                msg: 'Error. Try again.',
                timeout: 5000,
                showType: 'slide'
            });

        }
  });
        }


        function AddDependency() {    
            var contents = '<div class="easyui-tabs" id="subtabs" data-options="fit:true,plain:true"><div title="Choose Files" ><table id="newdepentable" class="easyui-datagrid" title="Add Dependency" style="width:600px;height:500px"></table><div id="newdepentb"><a href="#" class="easyui-linkbutton" id="choosedepen" iconcls="icon-add" plain="true" onclick="ChooseDependency()">Choose Dependencies</a></div></div></div>';
            $('#tt').tabs({
                onAdd: function () {
                    $('#tt').tabs('disableTab', 0);
                },
                onClose: function () {
                    $('#tt').tabs('enableTab', 0);
                }
            });
            $('#tt').tabs('add', {
                title: 'Add Dependencies',
                content: contents,

                closable: true,
                iconCls: 'icon-add',
                

            });

            
            var rows = $('#denpendencytable').datagrid('getRows');
            var Postinfo = "";
            for(var i=0;i<rows.length;i++){
                var tmp = rows[i].GBFullPath;
                if (Postinfo.indexOf(tmp) == -1) {
                    Postinfo += tmp + ";";
                }
            }

            $('#newdepentable').datagrid({
                url:'@Url.Action("ShowFiles","Developers")' + "?files=" + Postinfo,
                columns: [[
                    { field: 'FileName', title: 'FileName', width: 100 },
                    { field: 'Size', title: 'Size', width: 100 },
                    { field: 'FullPath', title: 'FullPath', width: 300 },
                    
                ]],
                
                toolbar: '#newdepentb',
              
                rownumbers: true,

            });

        }


        function ChooseDependency() {
            var rows = $('#newdepentable').datagrid('getSelections');
            if (rows.length == 0) {
                $('#dlg').dialog('open');
                $('#dlg').html("Please choose at least one file.");
            }
            var contents = '<table title="Files Browser" class="easyui-treegrid" style="width:100%;height:500px" id="DependenciesTree"></table><div id="DependenciesTreetb"><a href="#" class="easyui-linkbutton" iconcls="icon-ok" plain="true" onclick="SpecifyDependencies()">Confirm</a></div>'
            $('#subtabs').tabs('add', {
                title: 'Choose Dependencies',
                content: contents,
                closable: true,
                iconCls: 'icon-add',
            });

            $("#DependenciesTree").treegrid({
                method: 'get',
                rownumbers: false,
                idField: 'id',
                treeField: 'FileName',
                url: '@Url.Action("Getjson", "NormalUsers")',
                columns: [[
                       
                        {
                            title: 'FileName', field: 'FileName',width: 200
                        },
                        {
                            title: 'Size', field: 'Size', width: 100, align: 'center',

                        },
                        { title: 'FullPath', field: 'FullPath', width: 320 },
                ]],
                singleSelect: false,
                toolbar: '#DependenciesTreetb',
              
            });
        }

        function SpecifyDependencies() {
            var files = $('#newdepentable').datagrid('getSelections');
            var tmpurl="";
            var depens=$("#DependenciesTree").treegrid('getSelections');
            for(var i=0;i<files.length;i++){
                tmpurl += files[i].FullPath + "|";
            }
            tmpurl += "::";
            for (var i = 0; i < depens.length; i++) {
                tmpurl += depens[i].FullPath + ";";
            }
            $.ajax({
                url: '@Url.Action("SpecifyDependency","Developers")' + "?files=" + tmpurl,

            })
   .done(function (data) {
       if (data == "Successful") {
           $.messager.show({
               title: 'Successful',
               msg: 'Add Denpendencies complete.',
               timeout: 5000,
               showType: 'slide'
           });
           $('#tt').tabs('close', 'Add Dependencies');
           $('#denpendencytable').datagrid('reload');
       }
   });
        }
    </script>
